* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html {
    scroll-behavior:smooth;
}


body {

    font-family:Arial, sans-serif;

    background:
    linear-gradient(
        135deg,
        #020617,
        #1e293b
    );

    color:white;

}



/* NAVBAR */


nav {

    position:sticky;

    top:0;

    z-index:100;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 8%;

    background:rgba(2,6,23,.85);

    backdrop-filter:blur(10px);

}


.logo {

    color:#38bdf8;

}


nav ul {

    display:flex;

    gap:30px;

    list-style:none;

}


nav a {

    color:white;

    text-decoration:none;

    transition:.3s;

}


nav a:hover {

    color:#38bdf8;

}





/* HEADER */


header {

    text-align:center;

    padding:100px 20px;

}


header h1 {

    font-size:60px;

}


header h3 {

    color:#38bdf8;

    margin:20px;

    min-height:35px;

}


header p {

    color:#cbd5e1;

    font-size:20px;

}


.location {

    margin-top:15px;

}




.main-button {

    display:inline-block;

    margin-top:30px;

    padding:15px 35px;

    background:#38bdf8;

    color:#020617;

    border-radius:30px;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;

}


.main-button:hover {

    transform:translateY(-5px);

}





/* MAIN */


main {

    max-width:1000px;

    margin:auto;

}




/* SEKCJE */


section {

    background:
    rgba(255,255,255,.08);


    margin:30px 20px;


    padding:40px;


    border-radius:20px;


    opacity:0;

    transform:translateY(50px);

    transition:.8s ease;

}



section.show {

    opacity:1;

    transform:translateY(0);

}



h2 {

    color:#38bdf8;

    margin-bottom:20px;

}


section p {

    line-height:1.8;

}





/* TECHNOLOGIE */


.skills {

    display:flex;

    flex-wrap:wrap;

    gap:15px;

}



.skills div {

    background:#0f172a;

    padding:15px 25px;

    border-radius:20px;

    transition:.3s;

}



.skills div:hover {

    transform:translateY(-5px);

}





/* PROJEKTY */


.projects-container {

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:25px;

}



.project {

    background:#0f172a;

    padding:25px;

    border-radius:20px;

    min-height:280px;


    display:flex;

    flex-direction:column;


    transition:.35s;

}




.project:hover {

    transform:translateY(-10px);


    box-shadow:

    0 20px 40px rgba(56,189,248,.25);

}





.project h3 {

    margin-bottom:15px;

}



.project p {

    margin-bottom:20px;

}





/* TAGI */


.tags {

    margin-top:auto;

    display:flex;

    flex-wrap:wrap;

    gap:8px;

}



.tags span {

    background:#38bdf8;

    color:#020617;

    padding:7px 15px;

    border-radius:20px;

    font-size:14px;

}






/* LINKI */


a {

    color:#38bdf8;

}





/* FOOTER */


footer {

    text-align:center;

    padding:40px;

    color:#94a3b8;

}







/* TELEFONY */


@media(max-width:700px){


nav {

    flex-direction:column;

    gap:20px;

}



nav ul {

    flex-wrap:wrap;

    justify-content:center;

}



header h1 {

    font-size:40px;

}


section {

    padding:25px;

}


}